SPRING_PROFILES_ACTIVE=dev
PORT=8081
MANAGEMENT_PORT=9081
DB_URL=jdbc:postgresql://REPLACE_DB_HOST:5432/telemed_identity
DB_USERNAME=REPLACE_DB_USER
DB_PASSWORD=REPLACE_DB_PASSWORD
JWT_ISSUER=telemed-ia-identity-and-access
JWT_ACCESS_TOKEN_TTL=PT15M
JWT_SECRET_BASE64=REPLACE_WITH_BASE64_OF_AT_LEAST_32_RANDOM_BYTES
